.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    max-width: 300px;
    min-height: 420px;
    margin: 10px;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #CCC, #FFF 80%);
    /* border-top: 10px solid #DDD;
    border-left: 10px solid #DDD; */
    text-align: center;
}

.imageContainer a {
    height: 200px;
}

.imageContainer img {
    height: 100%;
    max-width: 100%;
    max-height: 180px;
    margin: 0 10px;
}

.imageContainer .spacer {
    flex-grow: 10;
}

.imageContainer .author,
.imageContainer .taken,
.imageContainer .tags {
    width: 100%;
    text-align: center;
}

.imageContainer .author {

    align-self: flex-start;
    margin: 10px 0;
    color: #FF0084;
    font-weight: 600;
}

.imageContainer .taken {
    font-style: italic;
}

.imageContainer .tags {
    margin-top: 10px;
}

.imageContainer .author > span {    
    color: #0063DB;
    font-weight: 500;
}